/* Floating Login */
.floating-login {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

/* Center Login */
.center-container {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.center-login {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

/* Top Right Login */
.top-right-login {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background: white;
    border-radius: 8px;
}
